
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: #e3e0e0;
    
}

h2{
    margin-left: 100px;
    color: #2e2c2c;
    font-size: 5em;
    font-weight: 600;
    padding: 0 100px;
}

h2 span{
    position: relative;
    color: rgba(255, 255, 255, 0.1);
    animation: displayText 9s infinite;
    animation-delay: calc(-3s * var(--i));
}

@keyframes displayText
{
    0%
    {
        display: inline-block;
    }
    33.33%,100%
    {
        display: none;
    }
}

h2 span::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #f54242;
    overflow: hidden;
    border-right: 4px solid #f2f0f0;
    filter: drop-shadow(0 0 1px #f54242) drop-shadow(0 0 1px #f54242);
    animation: animate 3s linear infinite;
}

@keyframes animate 
{
    0%,10%,100%
    {
        width: 0;
    }
    70%,90%
    {
        width: 100%;
    }
}